.navbar {
  background-color: rgb(48, 48, 48);
  li a {
    &:hover {
      color: black;
      background-color: white;
      cursor: pointer;
    }
  }
}
.cc-logo {
  position: relative;
  width: 85%;
  margin-top: 5%;
}
nav .brand-logo {
  font-size: 1.8rem;
}

#nav-mobile {
  background-color: rgb(48, 48, 48);
}

.nav-active {
  color: black;
  background-color: white;
}
.side-nav li > a {
  color: white;
  font-size: 15px;

  &.nav-active {
    color: black;
  }
}

@media (min-width: 600px) {
  .cc-logo {
    margin-top: 5%;
    width: 100%;
  }
}
