
body{
    background-color: #ffebee  ; 
}
.red{
    background-color:#ee0606!important;
}

.red.lighten-1{
    background-color:#de0606!important;
}

.navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link{
    background-color:rgba(240, 83, 64, 1);
}