.comp-title {
  font-size: 2.8rem; }

.calculator-card {
  background-color: #424242; }

.collapsible {
  border: none;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .collapsible .collapsible-header {
    background-color: #424242;
    color: white;
    border-bottom: 1px solid #303030; }
    .collapsible .collapsible-header div {
      display: inherit;
      align-items: center; }
  .collapsible .collapsible-body {
    color: white;
    border: none; }
    .collapsible .collapsible-body .input-field {
      margin: auto;
      width: 100%; }

.select-wrapper span.caret {
  color: white; }

.dropdown-content {
  background-color: #424242; }
  .dropdown-content li span {
    color: white; }

.calc-icon {
  margin-right: 1rem; }
  .calc-icon.Paypal {
    width: 37px;
    height: 28px; }
  .calc-icon.Stockx {
    width: 35px;
    height: 35px; }
  .calc-icon.Grailed {
    width: 35px;
    height: 35px; }

.result {
  text-align: center;
  margin: 7px 0; }

@media only screen and (min-width: 424px) {
  .collapsible-body .row {
    display: flex;
    margin-bottom: 0;
    width: 75%; } }

@media screen and (min-width: 992px) {
  .navbar {
    padding: 0 50px; }
  .comp-title {
    font-size: 3.2rem; }
  .collapsible-body .row {
    width: 80%; } }
