<div class="container">


  <div class="col-md-6 mx-auto">

    <div class="card">
      <!-- Login form -->
      <div class="card-body mx-4">

        <form>
          <p class="h5 text-center mb-4">Log In</p>

          <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="text" id="defaultForm-email" class="form-control" mdbActive>
            <label for="defaultForm-email">Your email</label>
          </div>

          <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" id="defaultForm-pass" class="form-control" mdbActive>
            <label for="defaultForm-pass">Your password</label>
          </div>

          <div class="text-center">
            <button class="btn  waves-light" mdbRippleRadius style="background-color: #ff3547;">Login</button>
            <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign in with:</p>

            <div class="row my-3 d-flex justify-content-center">
              <!--Facebook-->
              <button type="button" (click)="fbLogin()" class="btn fb mr-md-3 z-depth-1a">
                <i class="fa fa-facebook text-center"></i>
              </button>
              <!--Twitter-->
              <button type="button" class="btn twit btn-rounded mr-md-3 z-depth-1a">
                <i class="fa fa-twitter"></i>
              </button>
          
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
