.btn-container {
  margin: 0 auto;
  width: 250px;
}

.log-card {
  margin-top: 10%;
  background-color: #424242;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  height: 335px;

  .card-content {
    color: white;
    text-align: center;
    p {
      font-size: 2.56rem;
      line-height: 110%;
      margin: 1.78rem 0 2.424rem 0;
    }
  }
}

.fb-btn {
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px;
  font-size: 1.2em;
  background-color: #4c69ba;
  border: 1px solid #4c69ba;
  padding: 10px;
  width: 100%;

  &:hover {
    background-color: #7c92d1;
    border: 1px solid #7c92d1;
    transition: 0.8s;
  }
  .fa-facebook {
    margin-right: 12px;
    font-size: 1.6em;
    vertical-align: middle;
  }
}

.twit-btn {
  background-color: #00aced;
  padding: 10px;
  color: white;
  font-size: 1.2em;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #00aced;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px;

  &:hover {
    background-color: #68d0f8;
    border: 1px solid #68d0f8;
    transition: 0.8s;
  }
  .fa-twitter {
    color: white;
    margin-right: 12px;
    vertical-align: middle;
    font-size: 1.6em;
  }
}
