<div class="containter">

  <div class=" row d-flex justify-content-center">
    
    <div class="col-md-8 ">
      
      <div class="calc-card card red lighten-3 z-depth-2">

        <div class="h3 card-header red lighten-1 white-text text-center">
          Paypal
        </div>

        <div class="card-body">

            <form class="mt-3 amounts">

              <div class="md-form mx-auto">
                <i class="fa fa-dollar prefix white-text" aria-hidden="true"></i>
                <input type="text" id="amount" class="form-control">
                <label for="amount">Enter your price</label>
              </div>
              
              <div class="text-center">
                  <button class="btn red accent-2 waves-light">Calculate</button>
              </div>
            </form>
          </div>
        </div>
        
      </div>
    <div class="col-md-8 ">
      
      <div class="calc-card card red lighten-3 z-depth-2">

        <div class="h3 card-header red lighten-1 white-text text-center">
          Grailed
        </div>

        <div class="card-body">

            <form class="mt-3 amounts">

              <div class="md-form mx-auto">
                <i class="fa fa-dollar prefix white-text" aria-hidden="true"></i>
                <input type="text" id="amount" class="form-control">
                <label for="amount">Enter your price</label>
              </div>
              
              <div class="text-center">
                  <button class="btn red accent-2 waves-light">Calculate</button>
              </div>
            </form>
          </div>
        </div>
        
      </div>

    </div>
    
  </div>