.dash {
  margin-bottom: 0;
}

#Dash-Modal {
  background-color: #424242;
  border-bottom: 1px solid #303030;
  display: inline;
  .modal-content {
    h4,
    p {
      color: white;
    }
  }

  .modal-footer {
    background-color: inherit;
    border-bottom: 1px solid inherit;
    button {
      color: white;
      &:hover {
        background-color: #ff3547;
      }
    }
  }
}

.picker__day--selected,
.picker--focused {
  .picker__day--selected {
    background: #ff3547b3;
  }
}
.picker__nav--prev:hover,
.picker__nav--next:hover {
  background: #ff3547b3;
}
.picker__date-display {
  background-color: #ff3547;
}
.picker__day.picker__day--today {
  color: #ff3547;
}
.picker__close,
.picker__today {
  color: black;
}
.categories {
  + p {
    font-size: 20px;
  }
  i {
    margin: 0 10px;
  }
}
.wrapper {
  padding: 20px;
  .dash-card {
    background-color: #424242;
    border-bottom: 1px solid #303030;
  }
  .item {
    &:hover {
      background: white;
      color: black;
      cursor: pointer;
    }
  }
  .item-opts {
    display: flex;
    :first-child {
      // visibility: hidden;
      margin: 0 auto;
      // margin-right: auto;
    }
    .net-profit {
      // position: absolute;
      color: white;
    }
    i {
      margin: 0 10px;
      float: right;

      &.fa-plus-circle {
        margin-right: 5px;
      }
      &.fa-trash {
        margin-left: 20px;
      }
    }
  }
}
@media (min-width: 1091px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr;
  }
  .items {
    height: 500px; // temp value
  }
  .box {
    padding: 20px;
  }

  .chart {
    grid-column: 1 /2;
    grid-row: 1;
  }
  .item-list {
    grid-column: 2;
    grid-row: 1 / 3;
    .card-inner {
      height: 100%;
      overflow-y: scroll;
    }
  }
  .notes {
    grid-column: 1;
    .card {
      height: 100%;
    }
  }
}
