.dash {
  margin-bottom: 0; }

td p {
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

#Dash-Modal {
  background-color: #424242;
  border-bottom: 1px solid #303030;
  display: inline; }
  #Dash-Modal .modal-content h4,
  #Dash-Modal .modal-content p {
    color: white; }
  #Dash-Modal .modal-footer {
    background-color: inherit;
    border-bottom: 1px solid inherit; }
    #Dash-Modal .modal-footer button {
      color: white; }
      #Dash-Modal .modal-footer button:hover {
        background-color: #ff3547; }

.picker__day--selected .picker__day--selected,
.picker--focused .picker__day--selected {
  background: #ff3547b3; }

.picker__nav--prev:hover,
.picker__nav--next:hover {
  background: #ff3547b3; }

.picker__date-display {
  background-color: #ff3547; }

.picker__day.picker__day--today {
  color: #ff3547; }

.picker__close,
.picker__today {
  color: black; }

.categories + p {
  font-size: 20px; }

.categories i {
  margin: 0 10px; }

.wrapper {
  padding: 20px; }
  .wrapper .dash-card {
    background-color: #424242;
    border-bottom: 1px solid #303030; }
  .wrapper .item.clicked {
    background: white;
    color: black; }
  .wrapper .item:hover {
    background: white;
    color: black;
    cursor: pointer; }
  .wrapper .item-opts {
    display: flex; }
    .wrapper .item-opts :first-child {
      margin: 0 auto; }
    .wrapper .item-opts .net-profit {
      color: white; }
    .wrapper .item-opts i {
      margin: 0 10px;
      float: right; }
      .wrapper .item-opts i.fa-plus-circle {
        margin-right: 5px; }
      .wrapper .item-opts i.fa-trash {
        margin-left: 20px; }

.chart-toggle {
  display: flex;
  justify-content: center;
  align-items: center; }
  .chart-toggle p {
    margin: 0 15px !important;
    font-size: 2em; }

@media (min-width: 1091px) {
  #chart {
    margin-bottom: -25px; }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .items {
    height: 500px; }
  .box {
    padding: 20px; }
  .chart {
    grid-column: 1 / 2;
    grid-row: 1; }
  .item-list .card-inner {
    height: 100%;
    overflow-y: scroll; } }
