.wrapper {
  padding: 20px; }

@media (min-width: 1091px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr; }
  .box {
    padding: 20px; }
  .chart {
    grid-column: 1 /2;
    grid-row: 1; }
  .item-list {
    grid-column: 2;
    grid-row: 1 / 3; }
    .item-list .card {
      height: 100%; }
  .notes {
    grid-column: 1; } }
